

body {
    margin: 0;
    padding: 0;

    height: 100vh;

    font-family: sans-serif;

    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.main {
    background-color: aqua;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {
    display: grid;
    place-content: center;
}

.footer img {
    height: 1rem;
}