

body {
    margin: 0;
    padding: 0;

    height: 100vh;

    font-family: sans-serif;

    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    padding: 25px;

    background-color: aqua;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: 160px;
    gap: 25px;
}

.main .card {
    padding: 30px;
    background-color: chocolate;

    border-radius: 5px;

    position: relative;
}

.main .card .close {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 0;
    right: 0;

    display: grid;
    place-items: center;
}

.main .card .title {
    font-weight: 700;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {
    display: grid;
    place-content: center;
}

.footer img {
    height: 1rem;
}